services:
  app:
    image: node:22-alpine
    restart: unless-stopped
    env_file:
      - .env
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "yarn install && yarn dev"