@import "tailwindcss";

:root {
  --text-outline-color: #BCBCBC;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  } */
}

.text-stroke {
  -webkit-text-stroke: 0.8px gray;
  -webkit-text-fill-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @media (min-width: 768px) {
    -webkit-text-stroke: 1.5px gray;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.text-rtl {
  color: rgb(238 238 238);
  text-align: justify;
  direction: rtl;
}
/* .text-stroke {
  color: rgb(255, 255, 255);
  text-shadow: -0.8px -0.8px 0 gray, 0.8px -0.8px 0 gray, -0.8px 0.8px 0 gray, 0.8px 0.8px 0 gray;
  @media (min-width: 768px) {
    text-shadow: -1.2px -1.2px 0 gray, 1.2px -1.2px 0 gray, -1.2px 1.2px 0 gray, 1.2px 1.2px 0 gray;
  }
} */